//mainheader
#mainheader {
    .navbar {
        .logo {
            display: block;
            margin: 0 auto;
            text-align: center;
            margin: 2rem 0;
        }
        ul {
            display: block;
            text-align: center;
            li {
                text-align: center;
                margin-bottom: 1rem;
            }
        }
        .container {
            display: block;
        }
    }
}

//showcase
#showcase {

}

//about
#about {
    .about-text {
        display: block;
        p {
            text-align: justify;
        }
        img {
            width: 100%;
        }
    }
}

//services
#services {
    .services-row {
        display: block;
        .flex-box {
            width: 100%;
        }
    }
}